{% extends 'base.html' %}
{% block title %} Login {% endblock title %}
{% block content %}
<div class="container" style="margin-top: 5%">
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
      <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
      {{field}}
    </div>
    {% endfor %}
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}