{% extends 'base.html' %}
{% load humanize %}
{% block title %} Home {% endblock title %}
{% block content %}
    <div class="container">
        <div class="container-xl big-padding">
            <div class="col section-title text-center">
                <h2 class="fs-4">{{ voting.title }}</h2>
                <p class="text-center">{{ voting.description }}</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="text-white text-center mb-1 votcard shadow-md bg-white p-4 pt-5">
                        <img
                            class="rounded-pill shadow-md p-2"
                            width="250px"
                            src="https://media.istockphoto.com/id/1495088043/pl/wektor/ikona-profilu-u%C5%BCytkownika-ikona-awatara-lub-osoby-zdj%C4%99cie-profilowe-symbol-portretowy.jpg?s=612x612&w=0&k=20&c=5KeHNYhyhRxD7RsgvvmLyY3jO50Z5aKvTukkj_LNy-c="
                            alt="">
                        <h4 class="mt-3 fs-5 mb-1 fw-bold">James Anderson</h4>
                        <h6 class="fs-7">Runnung to Be:
                            <span class="text-primary fw-bold">President</span></h6>
                        <p class="text-dark mt-3 mb-3 fs-8">Aliquam utrum nibh rutrum nibh vitae tortor
                            dapibus egestas. Cras condimentum dapibus tellus vel semper. Quisque vel dui
                            molestie est auctor utrum nibh porttitor.</p>
                        <button
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            class="btn btn-primary fw-bolder fs-8">View Manifesto</button>
                        <button class="btn btn-danger fw-bolder px-4 ms-2 fs-8">Vote</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="text-white text-center mb-4 votcard shadow-md bg-white p-4 pt-5">
                        <img
                            class="rounded-pill shadow-md p-2"
                            width="250px"
                            src="https://media.istockphoto.com/id/1495088043/pl/wektor/ikona-profilu-u%C5%BCytkownika-ikona-awatara-lub-osoby-zdj%C4%99cie-profilowe-symbol-portretowy.jpg?s=612x612&w=0&k=20&c=5KeHNYhyhRxD7RsgvvmLyY3jO50Z5aKvTukkj_LNy-c="
                            alt="">
                        <h4 class="mt-3 fs-5 mb-1 fw-bold">Arun Kumar</h4>
                        <h6 class="fs-7">Runnung to Be:
                            <span class="text-primary fw-bold">President</span></h6>
                        <p class="text-dark mt-3 mb-3 fs-8">Aliquam utrum nibh rutrum nibh vitae tortor
                            dapibus egestas. Cras condimentum dapibus tellus vel semper. Quisque vel dui
                            molestie est auctor utrum nibh porttitor.</p>
                        <button
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            class="btn btn-primary fw-bolder fs-8">View Manifesto</button>
                        <button class="btn btn-danger fw-bolder px-4 ms-2 fs-8">Vote</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="text-white text-center mb-4 votcard shadow-md bg-white p-4 pt-5">
                        <img
                            class="rounded-pill shadow-md p-2"
                            width="250px"
                            src="https://media.istockphoto.com/id/1495088043/pl/wektor/ikona-profilu-u%C5%BCytkownika-ikona-awatara-lub-osoby-zdj%C4%99cie-profilowe-symbol-portretowy.jpg?s=612x612&w=0&k=20&c=5KeHNYhyhRxD7RsgvvmLyY3jO50Z5aKvTukkj_LNy-c="
                            alt="">
                        <h4 class="mt-3 fs-5 mb-1 fw-bold">Pream Nath</h4>
                        <h6 class="fs-7">Runnung to Be:
                            <span class="text-primary fw-bold">President</span></h6>
                        <p class="text-dark mt-3 mb-3 fs-8">Aliquam utrum nibh rutrum nibh vitae tortor
                            dapibus egestas. Cras condimentum dapibus tellus vel semper. Quisque vel dui
                            molestie est auctor utrum nibh porttitor.</p>
                        <button
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            class="btn btn-primary fw-bolder fs-8">View Manifesto</button>
                        <button class="btn btn-danger fw-bolder px-4 ms-2 fs-8">Vote</button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="text-white text-center mb-4 votcard shadow-md bg-white p-4 pt-5">
                        <img
                            class="rounded-pill shadow-md p-2"
                            width="250px"
                            src="https://media.istockphoto.com/id/1495088043/pl/wektor/ikona-profilu-u%C5%BCytkownika-ikona-awatara-lub-osoby-zdj%C4%99cie-profilowe-symbol-portretowy.jpg?s=612x612&w=0&k=20&c=5KeHNYhyhRxD7RsgvvmLyY3jO50Z5aKvTukkj_LNy-c="
                            alt="">
                        <h4 class="mt-3 fs-5 mb-1 fw-bold">Reena Anath</h4>
                        <h6 class="fs-7">Runnung to Be:
                            <span class="text-primary fw-bold">President</span></h6>
                        <p class="text-dark mt-3 mb-3 fs-8">Aliquam utrum nibh rutrum nibh vitae tortor
                            dapibus egestas. Cras condimentum dapibus tellus vel semper. Quisque vel dui
                            molestie est auctor utrum nibh porttitor.</p>
                        <button
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            class="btn btn-primary fw-bolder fs-8">View Manifesto</button>
                        <button class="btn btn-danger fw-bolder px-4 ms-2 fs-8">Vote</button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="text-white text-center mb-4 votcard shadow-md bg-white p-4 pt-5">
                        <img
                            class="rounded-pill shadow-md p-2"
                            width="250px"
                            src="https://media.istockphoto.com/id/1495088043/pl/wektor/ikona-profilu-u%C5%BCytkownika-ikona-awatara-lub-osoby-zdj%C4%99cie-profilowe-symbol-portretowy.jpg?s=612x612&w=0&k=20&c=5KeHNYhyhRxD7RsgvvmLyY3jO50Z5aKvTukkj_LNy-c="
                        alt="">
                        <h4 class="mt-3 fs-5 mb-1 fw-bold">Allen Shory</h4>
                        <h6 class="fs-7">Runnung to Be:
                            <span class="text-primary fw-bold">President</span></h6>
                        <p class="text-dark mt-3 mb-3 fs-8">Aliquam utrum nibh rutrum nibh vitae tortor
                            dapibus egestas. Cras condimentum dapibus tellus vel semper. Quisque vel dui
                            molestie est auctor utrum nibh porttitor.</p>
                        <button
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            class="btn btn-primary fw-bolder fs-8">View Manifesto</button>
                        <button class="btn btn-danger fw-bolder px-4 ms-2 fs-8">Vote</button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="text-white text-center mb-4 votcard shadow-md bg-white p-4 pt-5">
                        <img
                            class="rounded-pill shadow-md p-2"
                            width="250px"
                            src="https://media.istockphoto.com/id/1495088043/pl/wektor/ikona-profilu-u%C5%BCytkownika-ikona-awatara-lub-osoby-zdj%C4%99cie-profilowe-symbol-portretowy.jpg?s=612x612&w=0&k=20&c=5KeHNYhyhRxD7RsgvvmLyY3jO50Z5aKvTukkj_LNy-c="
                            alt="">
                        <h4 class="mt-3 fs-5 mb-1 fw-bold">Vimal kumar</h4>
                        <h6 class="fs-7">Runnung to Be:
                            <span class="text-primary fw-bold">President</span></h6>
                        <p class="text-dark mt-3 mb-3 fs-8">Aliquam utrum nibh rutrum nibh vitae tortor
                            dapibus egestas. Cras condimentum dapibus tellus vel semper. Quisque vel dui
                            molestie est auctor utrum nibh porttitor.</p>
                        <button
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            class="btn btn-primary fw-bolder fs-8">View Manifesto</button>
                        <button class="btn btn-danger fw-bolder px-4 ms-2 fs-8">Vote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}