{% extends 'base.html' %}
{% load humanize %}
{% block title %} Home {% endblock title %}
{% block content %}
<div class="container mt-5">
  <div class="list-group">
      <h5 class="text-center mb-4">{{page_title}}</h5>
      {% for voting in votings %}
      <a
        href="{% url 'vote_details' pk=voting.id %}"
        class="list-group-item list-group-item-action border border-white active mb-1"
        aria-current="true"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ voting.title }}</h5>
          <small>{{voting.end_time|naturaltime}}</small>
        </div>
        <p class="mb-1" style="word-wrap: break-word;">{{ voting.description }}</p>
      </a>
      {% endfor %}
  </div>
  </div>
</div>
{% endblock content %}