{% extends 'base.html' %}
{% load humanize %}
{% block title %} Home {% endblock title %}
{% block content %}
<div class="container mt-5">
  <div class="list-group">
    <h5 class="text-center mb-4">Current</h5>
    {% for vote in current %}
    <a
      href="#"
      class="list-group-item list-group-item-action border border-white active"
      aria-current="true"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ vote.title }}</h5>
        <small>now</small>
      </div>
      <p class="mb-1">{{ vote.description }}</p>
    </a>
    {% endfor %}
  </div>

  <div class="list-group mt-4">
    <h5 class="text-center mb-4">Old</h5>
    {% for vote in expired %}
    <a
      href="#"
      class="list-group-item list-group-item-action"
      aria-current="true"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ vote.title }}</h5>
        <small> {{vote.end_time|naturaltime}}</small>
      </div>
      <p class="mb-1">{{ vote.description }}</p>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
